<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <style>
    	body {
    	  color: white;
    	  background-color:black;
    	}
    	table tr th, table tr td {
    	  padding: 5px;
    	}
    </style>
</head>
<body>
	@RenderBody()
</body>
</html>

